@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-adopet-text-primary antialiased;
    background-color: #e5edea;
  }
}
